<h1>  Welcome to CarShare  </h1>

#add example trips from other users


<div class="buttons are-large">
<%= link_to "Create a Getaway", new_getaway_path, :class => "button is-fullwidth is-link" %>
<%= link_to "Get Inspired by Other Users' Getaways", getaway_path, :class => "button is-fullwidth is-link" %>
</div>